body {
    background-image: url('assets/images/ernest-karchmit-UAbg0py6GYQ-unsplash.jpg'); /* Update with your image path */
    background-size: cover; /* This will make the image cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
